@use '../utils/variables' as *;

.login {
   display: flex;
   min-height: 95vh;
   flex-direction: column;
   place-items: center;
   gap: 2rem;

   &__title {
      margin-top: 3rem;
      font-family: $sketch-font;
      font-size: $font-size-xxl;
      height: fit-content;
      width: fit-content;
   }

   &__box {
      border: 3px $yellow-clr solid;
      border-radius: $sketch-card;
      padding: 2rem;
      max-width: 20rem;
      max-height: 30rem;
   }

   &__form {
      display: flex;
      flex-direction: column;

      &__label {
         font-family: $sketch-font;
         font-size: $font-size-lg;
         margin-bottom: .5rem;
      }

      &__input {
         font-size: $font-size-md;
         margin-bottom: .5rem;
         padding-block: .5rem;
      }

      .btn-login {
         margin-top: .5rem;
         place-self: center;
         border-color: $yellow-clr;
         color: $yellow-clr;
         transition: color 300ms, background-color 500ms;

         &:hover {
            color: $light-clr;
            background-color: $yellow-clr;
         }
      }
   }
}