@use '../utils/variables' as *;

.login {
   display: grid;
   place-content: center;
   min-height: 100vh;

   &__title {
      position: absolute;
      top: 0;
      font-family: $sketch-font;
      font-size: $font-size-xxl;
      place-self: center;
   }

   &__box {
      border: 3px $yellow-clr solid;
      border-radius: $sketch-card;
      padding: 2rem;
   }

   &__form {
      display: flex;
      flex-direction: column;

      &__label {
         font-family: $sketch-font;
         font-size: $font-size-lg;
         margin-bottom: .5rem;
      }

      &__input {
         font-size: $font-size-md;
         margin-bottom: .5rem;
         padding-block: .5rem;
      }

      .btn-login {
         margin-top: .5rem;
         place-self: center;
         border-color: $yellow-clr;
         color: $yellow-clr;
         transition: color 300ms, background-color 500ms; 

         &:hover {
            color:$light-clr;
            background-color: $yellow-clr;
         }
      }
   }
}