@use '../utils/variables' as *;

.footer {
   width: 100%;
   display: flex;
   place-content: center;
   margin-top: 2rem;
   bottom: 0;
   max-width: $content-max-width;
   

   &__text {
      color: $light-clr;
      font-family: $hand-font;
      font-weight: bold;
      font-size: 1rem;
   }
}