@use '../utils/variables' as *;

.chart {
   margin-top: 1.5rem;
}

.badges__group {
   margin-bottom: 1.5rem;
}

@media (max-width: 500px) {
   .badges__group {
      margin-top: .5rem;
      display: inherit;
      flex-direction: column;
   }
}