@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Handlee&display=swap");
#root {
  max-width: 1700px;
  margin: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background-color: #FCC108;
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background-color: #333333;
}

body {
  font-family: "Handlee", cursive;
  background-color: #333333;
  overflow-x: hidden;
  line-height: 1.5;
  margin: auto;
  color: #fff;
  font-weight: bold;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

p {
  font-size: 1.5rem;
}

.card {
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  border: 2px #fff solid;
}

.input {
  margin-bottom: 1.5rem;
  font-family: "Handlee", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border: 1px #fff solid;
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

.btn {
  border: 2px #28a745 solid;
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  width: fit-content;
  background-color: transparent;
  color: #28a745;
  font-family: "Handlee", cursive;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
  transition: color 300ms, background-color 300ms;
}
.btn:hover {
  color: #fff;
  background-color: #28a745;
}

.bg-red {
  background-color: #DC3544;
}

.bg-yellow {
  background-color: #FCC108;
}

.bg-blue {
  background-color: #2CA2B8;
}

.bg-green {
  background-color: #28a745;
}

.badge {
  margin-top: 2rem;
  margin-inline: 0.5rem;
  border-radius: 100px 25px 150px 25px/25px 150px 25px 150px;
  padding: 0.5rem;
  display: grid;
  place-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.table {
  width: 100%;
  max-width: 35rem;
  margin-bottom: 1rem;
  border-collapse: collapse;
  vertical-align: top;
}
.table td, .table th {
  padding: 0.75rem;
  text-align: center;
  border-top: 2px solid #dee2e6;
  height: 2rem;
}
.table tfoot, .table thead {
  border-top: 5px solid #dee2e6;
}

@media (max-width: 500px) {
  .table td, .table th {
    padding-inline: 0.1rem;
    border-top: 2px solid #dee2e6;
    height: 2rem;
  }
}
.navbar {
  overflow: hidden;
  width: 100%;
  height: 20vh;
  max-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}
.navbar__container {
  padding-inline: 2rem;
  max-width: 1700px;
  position: fixed;
  display: inherit;
  width: inherit;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  display: inherit;
  font-family: "Cabin Sketch", cursive;
  color: #fff;
  font-size: 4rem;
  align-self: center;
  transition: color 500ms, transform 500ms;
}
.navbar__logo:hover {
  color: #FCC108;
  transform: scale(1.02);
}
.navbar .visible {
  transition: transform 350ms;
}
.navbar .notvisible {
  transform: translateY(-300%);
  transition: transform 350ms;
}
.navbar__icon {
  align-self: center;
  font-size: 4rem;
}
.navbar__menu__icon {
  all: unset;
  cursor: pointer;
  color: white;
  font-size: 3rem;
}
.navbar__menu {
  display: inherit;
  gap: 3.5rem;
}
.navbar__menu__icon {
  display: none;
}
@media (max-width: 50em) {
  .navbar__menu {
    flex-direction: column;
    position: fixed;
    inset: 0 0 0 30%;
    background-color: #333333;
    place-content: center;
    transform: translateX(100%);
    transition: transform 350ms;
  }
  .navbar__menu__item {
    align-self: center;
  }
  .navbar__menu__icon {
    display: flex;
    position: relative;
    align-self: center;
    z-index: 5;
    transition: color 500ms, transform 500ms;
  }
  .navbar__menu__icon:hover {
    color: #FCC108;
    transform: scale(1.02);
  }
  .navbar__menu[data-visible=true] {
    transform: translateX(0);
  }
  .navbar__menu[data-visible=false] {
    transform: translateX(100%);
  }
}
.navbar__menu__link {
  font-family: "Cabin Sketch", cursive;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  border-bottom: 2px transparent solid;
  transition: color 500ms, border-bottom 500ms;
  position: relative;
}
.navbar__menu__link:hover {
  color: #FCC108;
  border-bottom-color: #FCC108;
}

.footer {
  width: 100%;
  display: flex;
  place-content: center;
  margin-top: 1.5rem;
  bottom: 0;
  max-width: 1700px;
}
.footer__text {
  color: #fff;
  font-family: "Handlee", cursive;
  font-weight: bold;
  font-size: 1rem;
}

.chart {
  margin-top: 1.5rem;
}

.badges__group {
  margin-bottom: 1.5rem;
}

@media (max-width: 500px) {
  .badges__group {
    margin-top: 0.5rem;
    display: inherit;
    flex-direction: column;
  }
}
.ingredients {
  display: flex;
  padding-inline: 2rem;
  height: 100%;
  min-height: 50rem;
}
.ingredients .ingredientsChoose {
  display: inherit;
  flex-direction: column;
  padding: 1.5rem;
  margin-right: 1rem;
  width: 100%;
  max-width: 35rem;
  min-height: 50rem;
}
.ingredients .ingredientsChoose__title {
  place-self: center;
  font-family: "Cabin Sketch", cursive;
  font-size: 3rem;
  margin-bottom: 1rem;
  border-bottom: 0.3rem #fff solid;
}
.ingredients .ingredientsChoose__form {
  display: inherit;
  flex-direction: column;
  min-height: 18rem;
}
.ingredients .ingredientsChoose__form__label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.ingredients .ingredientsChoose__charm {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 20rem;
}
.ingredients .ingredientsChoose__charm__title {
  font-family: "Cabin Sketch", cursive;
  font-size: 1.5rem;
  border-bottom: 0.3rem #fff solid;
}
.ingredients .mealPrep {
  display: inherit;
  flex-direction: column;
  padding: 1.5rem;
  margin-left: 1rem;
  width: 100%;
}
.ingredients .mealPrep__title {
  place-self: center;
  font-family: "Cabin Sketch", cursive;
  font-size: 3rem;
  margin-bottom: 1rem;
  border-bottom: 0.3rem #fff solid;
}
.ingredients .mealPrep__wrapper {
  display: inherit;
  flex-direction: row;
  min-height: 40rem;
  justify-content: space-between;
}
.ingredients .mealPrep__wrapper__table {
  width: 100%;
}
.ingredients .mealPrep__charm {
  display: flex;
  flex-direction: column;
  place-items: center;
  align-items: center;
  place-self: center;
  height: 100%;
}
.ingredients .mealPrep__charm__title {
  font-family: "Cabin Sketch", cursive;
  font-size: 1.5rem;
  border-bottom: 0.3rem #fff solid;
}

@media (max-width: 1450px) {
  .ingredients {
    flex-direction: column;
  }
  .ingredients .ingredientsChoose {
    width: 100%;
    max-width: 35rem;
    margin-inline: auto;
    margin-bottom: 3rem;
  }
}
@media (max-width: 840px) {
  .ingredients .mealPrep__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .ingredients .mealPrep__wrapper__table {
    min-width: none;
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  .ingredients .ingredientsChoose__title {
    font-size: 1.5rem;
  }
  .ingredients .mealPrep {
    margin-left: 0;
  }
  .ingredients .mealPrep__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .ingredients .mealPrep__wrapper {
    flex-direction: column;
    align-self: center;
  }
  .ingredients .mealPrep__wrapper__table {
    max-width: 15rem;
    margin-bottom: 2rem;
  }
}
.ingredientsList {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 50rem;
}
.ingredientsList__title {
  font-family: "Cabin Sketch", cursive;
  font-size: 4rem;
}
.ingredientsList__box {
  background-color: #fff;
  color: #333333;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  width: 100%;
  max-width: 20rem;
  height: 40rem;
  max-height: 50rem;
  overflow-y: scroll;
  padding: 1.5rem;
}
.ingredientsList__box::-webkit-scrollbar {
  width: 0.5vw;
}
.ingredientsList__box::-webkit-scrollbar-thumb {
  background-color: #FCC108;
  border-radius: 100vw;
}
.ingredientsList__box::-webkit-scrollbar-track {
  background-color: #333333;
}

.meals {
  display: flex;
  flex-direction: column;
  min-height: 50rem;
}
.meals__title {
  font-family: "Cabin Sketch", cursive;
  font-size: 4rem;
  place-self: center;
}
.meals__box {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}
.meals__card {
  padding: 1rem;
  border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
  border: 3px #FCC108 solid;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.meals__card__title {
  font-family: "Cabin Sketch", cursive;
  font-size: 1.5rem;
  justify-items: center;
  border-bottom: 3px #fff solid;
  width: fit-content;
  margin-bottom: 1rem;
}
.meals__card__ingredients {
  display: flex;
  flex-wrap: wrap;
}
.meals__card__ingredients__text {
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .meals__card {
    min-width: 20rem;
  }
  .meals__card__badges, .meals__card__ingredients {
    display: flex;
    flex-direction: column;
  }
  .meals__card__badges__text, .meals__card__ingredients__text {
    margin-inline: 0;
    display: grid;
    place-content: center;
  }
}

/*# sourceMappingURL=index.css.map */
